# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Bitner\Szkolka\Semestr6\ZZJP\Wprowadzenie_Git_Travis_Maven\printer\printer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
